<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add News</title>
</head>
<body>
    <% if (session.user && session.user.role === 'admin') { %>
        <h1>Add news</h1>
        <form method="POST" action="/dashboard/add-news" enctype="multipart/form-data">
            <label for="title">Title</label>
            <input type="text" name="title" required>
            <br>
            <label for="category">Category</label>
            <input type="text" name="category" required>
            <br>
            <label for="description">Description</label>
            <textarea name="description" rows="5" required></textarea>
            <br>
            <label for="poster">Poster</label>
            <input type="file" name="poster" required>
            <br>
            <button type="submit">Add news</button>
        </form>
    <% } else { %>
        <h1>Please Login as Admin to Add News</h1>
    <% } %>
</body>
</html>
