<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User Data</title>
</head>
<body>
    <h1>Add User Data</h1>

    <form action="/dashboard/user-data" method="post" enctype="multipart/form-data">
        <label for="nickname">Nickname</label>
        <input type="text" name="nickname" id="nickname" value="<%= usreDetails.nickname %>" />

        <label for="avatarUrl">Аватар</label>
        <input type="text" name="avatarUrl" id="avatarUrl" />

        <label for="about">Что то о себе</label>
        <textarea name="about" id="about"><%= userdetalis.about %></textarea>

        <label for="avatarUrl"> Что то сюда добавить</label>
        <% if (userDetalis.avatarUrl) { %>
          <img src="<%= userDetails.avatarUrl %>" alt="Current Avatar">
          <% } else { %>
        <p>No avatar uploaded</p>
    <% } %>

        <button type="submit">Добавить/обновить данные</button>
    </form>
    
</body>
</html>